extends ../views/layout

block append content

    h2= __("Dodaj nowe zadanie")
    form(method="POST",class="pjax",action="/saveTask")
        div.form_field_box.clearfix
            label(for="title")= __("Tytuł zadania")
            input(type="text",name="title", id="title")
        div.form_field_box.clearfix
            label(for="desc")= __("Opis zadania")
            textarea(name="desc", id="desc")
        div.form_field_box.clearfix
            input(type="submit", value=__("Dodaj zadanie"), id="saveNewTaskButton")
