extends ../views/layout

block append content
    p.login_info Aby korzystać z serwisu musisz się 
        a(href='/auth/google')#loginButton zalogowac 
            img(style='border: 0px', src='https://www.google.com/favicon.ico')
