doctype html
html
  head
    link(rel='stylesheet', href='assets/style.css', type='text/css' )
    script(charset='utf-8',src='assets/jquery-1.7.2.min.js' )
    script(charset='utf-8',src='assets/jquery.pjax.min.js' )
    script(charset='utf-8',src='assets/onepage.js' )

    title= __("Twoja todo-lista")
  body
    div#siteHeader
        h1#site_title= __("Twoja lista zadań")
        div#locale
            a(href="/en")
                img(src="/en.jpg")
            a(href="/pl")
                img(id='pl', src="/pl.gif")
    if typeof(user) != "undefined"
            div#user_detail.clearfix
                img(style='width: 50px', src='#{user.picture}') 
                div#user_info
                    span#user_name= __("Witaj $user").replace("$user", user.name)
                    a(href='/logout')#logoutButton= __("Wyloguj")
    block content


